.container {
    display: flex;
    flex-basis: 100%;
}

.left,
.right {
    display: flex;
}

.left>*,
.right>* {
    width: 100%;
}

.border {
    position: relative;
    width: 1px;
    margin-left: -1px;
    z-index: 2;

    cursor: e-resize;
    background: var(--c-hairline);
}

.border:hover:not(.dragging) {
    background: var(--c-accent);
    opacity: 0.75;
}

.border.dragging {
    background: var(--c-accent);
    box-shadow: 1px 0 var(--c-accent);
}

.border::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -4px;
    width: 8px;
}