.bar {
    display: flex;
    flex: 0 0 27px;
    width: 100%;
    background-color: var(--c-background-1);
    border-bottom: 1px solid var(--c-hairline);
}

.item {
    height: 26px;
    display: flex;
    align-items: center;
}

.divider {
    background-color: var(--c-hairline);
    width: 1px;
    margin: 5px 4px;
    height: 16px;
}