.container {
    padding-left: 1ch;
    vertical-align: top;
}

.empty {
    margin-left: -1ch;
}

.key {
    color: var(--c-text-tag);
}

.value--undefined,
.value--null {
    color: var(--c-text-secondary);
}