.container {
    display: flex;
    align-items: center;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    outline: none;
}

.tag-container:empty::before {
    content: "<empty>";
    color: var(--c-text-secondary);
    margin: 0 25ch;
}

.entry {
    margin-bottom: 4px;
    padding: 1px 3px 3px;
    border-radius: 2px;
    --tag-color: var(--c-accent);
    background: var(--tag-color);
    color: var(--c-background);
}

.entry::selection {
    background: rgba(255, 255, 255, 0.35);
}

.entry--window {
    --tag-color: var(--c-text-tag);
    color: var(--c-background);
    margin-right: 1ch;
}

.entry--no-info {
    background: var(--c-background);
    box-shadow: 0 0 0 1px var(--c-accent);
    color: var(--c-accent);
}

.entry--wildcard {
    background: var(--c-background-2);
    box-shadow: 0 0 0 1px var(--c-hairline-1);
    color: inherit;
}

.separator {
    margin: 0 4px;
}

.container--disabled .entry {
    background: none;
    color: inherit;
}

.button-container {
    margin-left: auto;
}

.icon-button {
    position: relative;
    margin: 0;
    padding: 1ch 0.5ch;
    border-color: transparent !important;
    color: inherit;
    transition: color linear .2s;
    box-shadow: none;
}

.icon-tooltip {
    pointer-events: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--c-accent);
    color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    opacity: 0;
    transition: transform linear .2s, opacity linear .2s;
}

.icon-button--active {
    transition: none;
    color: var(--c-accent);
}

.icon-button--active .icon-tooltip {
    transform: translate(-50%, -2px);
    transition: none;
    opacity: 1;
}