.container {
    display: flex;
    flex-direction: column;
    font-family: var(--font-monospace);
}

.selector-bar {
    white-space: nowrap;
    flex-grow: 1;
}

.selector {
    appearance: none;
    background: none !important;
    border: none !important;
    width: 100%;
}

.content {
    padding: 1em;
    word-break: break-all;
}

.prop {
    line-height: 1.36;
}

.name {
    color: var(--c-text-tag);
    font-weight: bold;
}